.button {
  border: none;
  background: none;
  border-radius: 40px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  background: #e5e5e5;

  &.loading {
    position: relative;
    color: transparent;

    i {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      animation: spin 500ms ease-out infinite;

      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
